:root{
    --e1 : #003b7f;
    --e2:  #2b6193;
    --e3:  #306da6;
    --e4:  #186bb9;
    --e5:  #0081cc;
    --e6:  #006dd2;
    --e7:  #009ad7;
    --e8:  #00177f;
    --e9:  #00d0df;
    --e10: #20d7ef;
    --e11: #3fe2ff;
}