:root{
    --e1 : #7f0000;
    --e2:  #932b2b;
    --e3:  #a63030;
    --e4:  #b91818;
    --e5:  #cc0000;
    --e6:  #d20000;
    --e7:  #d70000;
    --e8:  #7f0000;
    --e9:  #df4700;
    --e10: #ef4920;
    --e11: #ff8c3f;
}